<div class="food-card-div">
  <div class="food-card-img">
    <img src="{{ element.image.url }}" alt="{{ element.food_name }}" />
  </div>
  <div class="food-card-div-desc">
    <div>
      <p class="food-card-category">{{ element.get_category_display }}</p>
    </div>
    <div class="food-card-title">
      <h4>{{ element.food_name }}</h4>
    </div>
    <div class="food-card-time-diff">
      <p>🕐 {{ element.preparation_time }}</p>
      <p>🧑🏻‍🍳 {{ element.get_difficulty_display }}</p>
    </div>
  </div>
</div>
