/* ===============================
ABOUT
=============================== */

.about-card {
  display: flex;
  gap: var(--space-lg);
  background-color: var(--bg-card);
  padding: var(--space-xl);
  border-radius: var(--radius);
  box-shadow: var(--shadow-light);
  align-items: center;
}

.about-image img {
  width: 300px;
  height: 300px;
  border-radius: var(--radius);
  object-fit: cover;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  background-color: var(--bg-card);
  border-radius: var(--radius);
  box-shadow: var(--shadow-light);
  padding: var(--space-md);
}

.about-content h1 {
  color: var(--text-heading);
}
